{% extends "layout_student.html" %}

{% block title %}
    My Logbook
{% endblock %}

{% block main %}
    <h1 class="mb-5">My Logbook</h1>
    <br>

    <!--new log entry form-->
    <div class="container border-top border-bottom pt-3 pb-3">

        <button class="btn btn-primary btn-lg" id="newLogBtn" onclick="showNew();">New Entry</button>
        <h3 id="newLogHead" style="display: none;">New entry</h3>

        <form action="/logbook" method="post" id="logForm" style="display: none;">

            <!--date and type-->
            <div class="form-group mt-4">
                <input class="form-control mb-3" onclick="showSubmit();" name="entryDate" type="date">
                <select class="form-control" name="logType">
                    <option>Standard</option>
                    <option>Prior Hours</option>
                    <option>Exam</option>
                    <option>Check Ride Prep</option>
                    <option>Check Ride</option>
                </select>
            </div>

            <!--aircraft and route form section-->
            <button class="btn btn-primary btn-sm btn-block mb-3" id="sect1btn" type="button">Aircraft & Route</button>
            <div class="form-group" id="sect1" style="display: none">
                <!--input fields-->
                <div class="row">
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Route</span>
                        </div>
                        <input class="form-control" name="route" placeholder="KABC-KXYZ" type="text">
                    </div>
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Aircraft M/M</span>
                        </div>
                        <input class="form-control" name="aircraft" type="text">
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Ident</span>
                        </div>
                        <input class="form-control" name="ident" type="text">
                    </div>
                </div>
                <!--radio buttons and checkboxes-->
                <div class="row justify-content-center mb-5">

                    <div class="btn-group btn-group-toggle col-md-6 justify-content-center mt-3" data-toggle="buttons">
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="sel" value="1" autocomplete="off"> SEL
                        </label>
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="mel" value="1" autocomplete="off"> MEL
                        </label>
                    </div>

                    <div class="btn-group btn-group-toggle col-md-6 justify-content-center mt-3" data-toggle="buttons">
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="tailwheel" value="1" autocomplete="off"> Tailwheel
                        </label>
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="highPerformance" value="1" autocomplete="off"> High Performance
                        </label>
                    </div>
                </div>
            </div>

            <!--general form section-->
            <button class="btn btn-primary btn-sm btn-block mb-3" id="sect2btn" type="button">General</button>
            <div class="form-group" id="sect2" style="display: none">
                <!--hours subsection-->
                <h5 class="mt-3 mb-4">Hours</h4>
                <div class="row justify-content-center">
                    <!--input fields-->
                    <div class="input-group col-6 col-md-2 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total</span>
                        </div>
                        <input class="form-control" name="totalTime" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <div class="input-group col-6 col-md-2 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Night</span>
                        </div>
                        <input class="form-control" name="nightTime" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <!--radio buttons-->
                    <div class="btn-group btn-group-toggle col-md-6 justify-content-center mb-3" data-toggle="buttons">
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="dual" value="1" autocomplete="off"> Dual
                        </label>
                        <label class="btn btn-tertiary">
                            <input type="checkbox" name="pic" value="1" autocomplete="off"> PIC
                        </label>
                    </div>
                </div>
                <!--takeoff and land subsection-->
                <h5 class="mt-3">T/O & Land</h5>
                <div class="row mb-5 justify-content-center">
                    <div class="col-8 col-md-2 mt-3">
                        <label>Day</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">T/O</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="takeoffDay" placeholder="0" type="number">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Land</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="landDay" placeholder="0" type="number">
                        </div>
                    </div>

                    <div class="col-8 col-md-2 mt-3">
                        <label>Night</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">T/O</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="takeoffNight" placeholder="0" type="number">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Land</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="landNight" placeholder="0" type="number">
                        </div>
                    </div>

                    <div class="col-8 col-md-2 mt-3">
                        <label>Tower</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">T/O</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="takeoffTower" placeholder="0" type="number">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Land</span>
                            </div>
                            <input class="form-control" autocomplete="off" name="landTower" placeholder="0" type="number">
                        </div>
                    </div>
                </div>
            </div>

            <!--additional form section-->
            <button class="btn btn-primary btn-sm btn-block mb-3" id="sect3btn" type="button">Additional</button>
            <div class="form-group" id="sect3" style="display: none">
                <div class="row justify-content-center">
                    <!--input fields-->
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Maneuver</span>
                        </div>
                        <input class="form-control" name="maneuver" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CC Dual</span>
                        </div>
                        <input class="form-control" name="ccDual" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CC Solo</span>
                        </div>
                        <input class="form-control" name="ccSolo" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                </div>
                <!--checkboxes-->
                <div class="btn-group btn-group-toggle col-md-6 justify-content-center mt-3" data-toggle="buttons">
                    <label class="btn btn-tertiary">
                        <input type="checkbox" name="ccNight" value="1" autocomplete="off"> CC Night
                    </label>
                    <label class="btn btn-tertiary">
                        <input type="checkbox" name="cc150" value="1" autocomplete="off"> CC 150 NM
                    </label>
                </div>
                <!--instrument subsection-->
                <h5 class="mt-5">Instrument</h5>
                <div class="row mb-5 justify-content-center mb-5">
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Actual</span>
                        </div>
                        <input class="form-control" autocomplete="off" name="instActual" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Simulated</span>
                        </div>
                        <input class="form-control" autocomplete="off" name="instSim" placeholder="0.0" type="number" step="0.1" min="0">
                    </div>
                    <div class="input-group col-8 col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Approaches</span>
                        </div>
                        <input class="form-control" autocomplete="off" name="instAppr" placeholder="0" type="number">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="submitLog" disabled type=submit>Submit log</button>

        </form>
    </div>

    <!--existing logs-->
    <div class="container mt-5">

        <h5 class="mb-4">All logs</h5>
        <div class="overflow-auto scroll-box">
            {% for log in logs %}
                <a class="btn btn-primary btn-block" href="/flight_log/{{ log['id'] }}">
                    <span class="float-left pl-sm-5">{{ log['date'] | format_date }}</span>
                    <span>{{ log['log_type'] }}</span>
                    {% if log['total_hours'] %}
                        <span class="float-right pr-sm-5">{{ log['total_hours'] }}</span>
                    {% else %}
                        <span class="float-right pr-sm-5">N/A</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>

    </div>

    <script>

        document.querySelector('#sect1btn').onclick = function() {

            if (document.querySelector('#sect1').style.display === 'none') {

                document.querySelector('#sect1').style.display = 'initial';
            }
            else {

                document.querySelector('#sect1').style.display = 'none';
            }
        };

        document.querySelector('#sect2btn').onclick = function() {

            if (document.querySelector('#sect2').style.display === 'none') {

                document.querySelector('#sect2').style.display = 'initial';
            }
            else {

                document.querySelector('#sect2').style.display = 'none';
            }
        };

        document.querySelector('#sect3btn').onclick = function() {

            if (document.querySelector('#sect3').style.display === 'none') {

                document.querySelector('#sect3').style.display = 'initial';
            }
            else {

                document.querySelector('#sect3').style.display = 'none';
            }
        };

        function showSubmit() {

            document.querySelector('#submitLog').removeAttribute('disabled');
        };

        function showNew() {

            document.querySelector('#newLogBtn').style.display = 'none';
            document.querySelector('#newLogHead').style.display = "initial";
            document.querySelector('#logForm').style.display = "initial";
        }

    </script>
{% endblock %}
