{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="mb-5">Create an account</h1>
    <form action="/register" method="post">
        <div class="form-group">
            {% if error == "firstname" %} <p style="color: red;">{{ message }}</p> {% endif %}
            <input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="First name" type="text">
        </div>
        <div class="form-group">
            {% if error == "lastname" %} <p style="color: red;">{{ message }}</p> {% endif %}
            <input class="form-control" name="lastname" placeholder="Last name" type="text">
        </div>
        <div class="form-group">
            {% if error == "email" %} <p style="color: red;">{{ message }}</p> {% endif %}
            <input class="form-control" name="email" placeholder="Email address" type="text">
        </div>
        <div class="form-group">
            {% if error == "password" %} <p style="color: red;">{{ message }}</p> {% endif %}
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="form-group">
            {% if error == "role" %} <p style="color: red;">{{ message }}</p> {% endif %}
            <select class="form-control" name="role">
                <option>Select a role</option>
                <option>Student</option>
                <option>Instructor</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
